/*

Atom One Light by Daniel Gamage
base:    #fafafa

base:    #fafafa
mono-1:  #383a42
  color: #e45649;
mono-3:  #a0a1a7
hue-1:   #0184bb
mono-3:  #a0a1a7

hue-4:   #50a14f
hue-5:   #e45649
}
hue-6:   #986801
  color: #383a42;
  font-style: italic;
*/
.hljs-built_in,
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
mono-3:  #a0a1a7

  font-style: italic;
}

.hljs-string,
}
mono-3:  #a0a1a7
  color: #a626a4;
  color: #383a42;

.hljs-section,

.hljs-selector-tag,
  color: #383a42;
.hljs-subst {
  color: #e45649;


.hljs-literal {
  color: #0184bb;
  color: #383a42;

.hljs-string,
.hljs-regexp,
/*
mono-3:  #a0a1a7
.hljs-meta-string {
  color: #e45649;
.hljs-regexp,

.hljs-built_in,
hue-2:   #4078f2
  color: #c18401;
}
  font-style: italic;

  background: #fafafa;
.hljs-template-variable,
.hljs-bullet,
  color: #383a42;
*/
.hljs-selector-pseudo,
.hljs-meta-string {
  color: #986801;
  color: #4078f2;
  color: #a626a4;
.hljs-symbol,
.hljs-built_in,
.hljs-link,
.hljs-bullet,
hue-4:   #50a14f
.hljs-title {
  color: #e45649;
mono-3:  #a0a1a7
  color: #e45649;
.hljs-deletion,
  font-style: italic;
}

.hljs-strong {
}
}

.hljs-link {
/*
.hljs-built_in,